In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df=pd.read_csv("/content/Motor_Vehicle_Collisions_-_Crashes_20240409 (1).csv")

<ipython-input-3-542748f9684c>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/Motor_Vehicle_Collisions_-_Crashes_20240409 (1).csv")

In [4]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2078796 entries, 0 to 2078795
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 459.9+ MB

In [6]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [7]:
df.isna().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           646784
ZIP CODE                          647034
LATITUDE                          233855
LONGITUDE                         233855
LOCATION                          233855
ON STREET NAME                    441491
CROSS STREET NAME                 786131
OFF STREET NAME                  1729678
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6820
CONTRIBUTING FACTOR VEHICLE 2     322530
CONTRIBUTING FACTOR VEHICLE 3    1930213
CONTRIBUTING FACTOR VEHICLE 4    2045241
CONTRIBUTING FACTOR VEHICLE 5    2069700
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13756
VEHICLE TYPE CODE 2               397821
VEHICLE TYPE CODE 3              1935604
VEHICLE TYPE CODE 4              2046407
VEHICLE TYPE CODE 5              2069979
dtype: int64

In [8]:
nan_proportion = df.isna().sum() / len(df)
print(nan_proportion)

CRASH DATE                       0.000000
CRASH TIME                       0.000000
BOROUGH                          0.311134
ZIP CODE                         0.311254
LATITUDE                         0.112495
LONGITUDE                        0.112495
LOCATION                         0.112495
ON STREET NAME                   0.212378
CROSS STREET NAME                0.378166
OFF STREET NAME                  0.832058
NUMBER OF PERSONS INJURED        0.000009
NUMBER OF PERSONS KILLED         0.000015
NUMBER OF PEDESTRIANS INJURED    0.000000
NUMBER OF PEDESTRIANS KILLED     0.000000
NUMBER OF CYCLIST INJURED        0.000000
NUMBER OF CYCLIST KILLED         0.000000
NUMBER OF MOTORIST INJURED       0.000000
NUMBER OF MOTORIST KILLED        0.000000
CONTRIBUTING FACTOR VEHICLE 1    0.003281
CONTRIBUTING FACTOR VEHICLE 2    0.155152
CONTRIBUTING FACTOR VEHICLE 3    0.928524
CONTRIBUTING FACTOR VEHICLE 4    0.983858
CONTRIBUTING FACTOR VEHICLE 5    0.995624
COLLISION_ID                     0.000000
VEHICLE TYPE CODE 1              0.006617
VEHICLE TYPE CODE 2              0.191371
VEHICLE TYPE CODE 3              0.931118
VEHICLE TYPE CODE 4              0.984419
VEHICLE TYPE CODE 5              0.995759
dtype: float64

In [9]:
threshold = 0.5
data = df.loc[:, nan_proportion <= threshold]
data.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,...,0,0,0,2,0,Aggressive Driving/Road Rage,Unspecified,4455765,Sedan,Sedan
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,1.0,...,0,0,0,1,0,Pavement Slippery,NaN,4513547,Sedan,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,0.0,...,0,0,0,0,0,Following Too Closely,Unspecified,4541903,Sedan,Pick-up Truck
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,0.0,...,0,0,0,0,0,Unspecified,NaN,4456314,Sedan,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,0.0,...,0,0,0,0,0,NaN,NaN,4486609,NaN,NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2078796 entries, 0 to 2078795
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   NUMBER OF PERSONS INJURED      float64
 10  NUMBER OF PERSONS KILLED       float64
 11  NUMBER OF PEDESTRIANS INJURED  int64
 12  NUMBER OF PEDESTRIANS KILLED   int64
 13  NUMBER OF CYCLIST INJURED      int64
 14  NUMBER OF CYCLIST KILLED       int64
 15  NUMBER OF MOTORIST INJURED     int64
 16  NUMBER OF MOTORIST KILLED      int64
 17  CONTRIBUTING FACTOR VEHICLE 1  object
 18  CONTRIBUTING FACTOR VEHICLE 2  object
 19  COLLISION_ID                   int64
 20  VEHICLE TYPE CODE 1            object
 21  VEHICLE TYPE CODE 2            object
dtypes: float64(4), int64(7), object(11)
memory usage: 348.9+ MB

In [11]:
data.isna().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          646784
ZIP CODE                         647034
LATITUDE                         233855
LONGITUDE                        233855
LOCATION                         233855
ON STREET NAME                   441491
CROSS STREET NAME                786131
NUMBER OF PERSONS INJURED            18
NUMBER OF PERSONS KILLED             31
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      6820
CONTRIBUTING FACTOR VEHICLE 2    322530
COLLISION_ID                          0
VEHICLE TYPE CODE 1               13756
VEHICLE TYPE CODE 2              397821
dtype: int64

**To Clean the columns 'VEHICLE TYPE CODE 1'and 'VEHICLE TYPE CODE 2'**

There are some vehicle type names which are named differently in the dataset. So we have to rename them properly.

In [12]:
print(data['VEHICLE TYPE CODE 1'])

0                                        Sedan
1                                        Sedan
2                                        Sedan
3                                        Sedan
4                                          NaN
                          ...
2078791    Station Wagon/Sport Utility Vehicle
2078792                              Ambulance
2078793    Station Wagon/Sport Utility Vehicle
2078794    Station Wagon/Sport Utility Vehicle
2078795                                  Sedan
Name: VEHICLE TYPE CODE 1, Length: 2078796, dtype: object

In [13]:
unique_vehicle_type = data['VEHICLE TYPE CODE 1'].nunique()
print(unique_vehicle_type)

1639

In [14]:
data['VEHICLE TYPE CODE 1'] = data['VEHICLE TYPE CODE 1'].str.upper()
vehicle_type = data['VEHICLE TYPE CODE 1'].nunique()
print(vehicle_type)

<ipython-input-14-32b57a20f76c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['VEHICLE TYPE CODE 1'] = data['VEHICLE TYPE CODE 1'].str.upper()

1136

In [15]:
unique_vehicle_type2 = data['VEHICLE TYPE CODE 2'].nunique()
print(unique_vehicle_type)

1639

In [16]:
data['VEHICLE TYPE CODE 2'] = data['VEHICLE TYPE CODE 2'].str.upper()
vehicle_type2 = data['VEHICLE TYPE CODE 2'].nunique()
print(vehicle_type2)

<ipython-input-16-dbfd25cae5ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['VEHICLE TYPE CODE 2'] = data['VEHICLE TYPE CODE 2'].str.upper()

1261

In [17]:
data.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,...,0,0,0,2,0,Aggressive Driving/Road Rage,Unspecified,4455765,SEDAN,SEDAN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,1.0,...,0,0,0,1,0,Pavement Slippery,NaN,4513547,SEDAN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,0.0,...,0,0,0,0,0,Following Too Closely,Unspecified,4541903,SEDAN,PICK-UP TRUCK
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,0.0,...,0,0,0,0,0,Unspecified,NaN,4456314,SEDAN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,0.0,...,0,0,0,0,0,NaN,NaN,4486609,NaN,NaN

In [18]:
total_vehicle_types = pd.concat([data['VEHICLE TYPE CODE 1'], data['VEHICLE TYPE CODE 2']])

In [19]:
tot_vehicle_types = total_vehicle_types.unique()
print(tot_vehicle_types)

['SEDAN' nan 'DUMP' ... 'GARBAGE VE' 'CON ED BOX' 'MARSH ,OPE']

In [20]:
total_vehicle_types.dropna(inplace=True)
type_counts = total_vehicle_types.value_counts()
print(type_counts.head(50))

SEDAN                                  982613
STATION WAGON/SPORT UTILITY VEHICLE    781928
PASSENGER VEHICLE                      734813
SPORT UTILITY / STATION WAGON          320495
TAXI                                   148600
UNKNOWN                                101551
PICK-UP TRUCK                           88404
4 DR SEDAN                              70256
BUS                                     66374
VAN                                     66300
BOX TRUCK                               52642
BIKE                                    46690
OTHER                                   44668
LARGE COM VEH(6 OR MORE TIRES)          28084
SMALL COM VEH(4 TIRES)                  26178
MOTORCYCLE                              22749
TRACTOR TRUCK DIESEL                    20614
BICYCLE                                 19113
LIVERY VEHICLE                          18939
AMBULANCE                               10964
E-BIKE                                   9176
DUMP                                     8025
CONVERTIBLE                              6214
E-SCOOTER                                5825
FLAT BED                                 5022
MOPED                                    4879
PK                                       4760
2 DR SEDAN                               4584
GARBAGE OR REFUSE                        4470
CARRY ALL                                3972
TRACTOR TRUCK GASOLINE                   3248
TOW TRUCK / WRECKER                      2635
CHASSIS CAB                              1728
FIRE TRUCK                               1695
MOTORSCOOTER                             1607
TANKER                                   1600
MOTORBIKE                                1203
CONCRETE MIXER                           1035
REFRIGERATED VAN                         1000
AMBUL                                     915
SCOOTER                                   694
FLAT RACK                                 654
ARMORED TRUCK                             650
TRUCK                                     643
BEVERAGE TRUCK                            601
3-DOOR                                    597
TRAIL                                     586
UNKNO                                     519
FIRE                                      502
LIMO                                      463
Name: count, dtype: int64

In [48]:
vehicle_type_map = {
    'STATION WAGON/SPORT UTILITY VEHICLE': 'SUV',
    'SPORT UTILITY / STATION WAGON': 'SUV',
    '4 DR SEDAN': 'SEDAN',
    '2 DR SEDAN': 'SEDAN',
    'PASSENGER VEHICLE': 'SEDAN',
    'SMALL COM VEH(4 TIRES) ': 'SMALL COMMERCIAL VEHICLE',
    'SMALL COM VEH(4 TIRES)': 'SMALL COMMERCIAL VEHICLE',
    'LARGE COM VEH(6 OR MORE TIRES)': 'LARGE COMMERCIAL VEHICLE',
    'TRACTOR TRUCK DIESEL': 'TRACTOR TRUCK',
    'TRACTOR TRUCK GASOLINE': 'TRACTOR TRUCK',
    'MOTORSCOOTER': 'SCOOTER',
    'MOTORBIKE': 'MOTORCYCLE',
    'E-BIKE': 'ELECTRIC BIKE',
    'E-SCOOTER': 'ELECTRIC SCOOTER',
    'AMBUL': 'AMBULANCE',
    'FIRE' : 'FIRE TRUCK',
    'GARBAGE OR REFUSE' : 'GARBAGE TRUCK',
    'E-BIK' : 'ELECTRIC BIKE',
    'E-SCO' : 'ELECTRIC SCOOTER',
    'OTHER' : 'UNKNOWN',
    'DUMP' : 'GARBAGE TRUCK',
    'UNKNO' : 'UNKNOWN',
    'UNK' : 'UNKNOWN',
    'PICK-UP TRUCK' : 'PICK-UP',
    'TRACT' : 'TRACTOR TRUCK',
    'TRAIL' : 'TRAILER',
    'AMBU' : 'AMBULANCE',
    'TOW TRUCK / WRECKER' : 'TOW TRUCK',
    'REFRIGERATED VAN' : 'VAN',
    'BOX TRUCK' : 'TRUCK',
    'TRACTOR TRUCK' : 'TRUCK',
    'GARBAGE TRUCK' : 'TRUCK',
    'TOW TRUCK' : 'TRUCK',
    'FIRE TRUCK' : 'FDNY',
    'ARMORED TRUCK' : 'TRUCK',
    'BEVERAGE TRUCK' : 'TRUCK',
    'FIRETRUCK' : 'FDNY',
    'TOW T' : 'TRUCK',
    'FIRET' : 'FDNY',
    'SCHOO' : 'SCHOOL BUS',
    'FORKL' : 'FORKLIFT',
    'BOX T' : 'TRUCK',
    'BIKE' : 'MOTORCYCLE',
    'SCOOTER' : 'MOTORCYCLE',
    'SCOOT' : 'MOTORCYCLE',
    'MOPED' : 'MOTORCYCLE',
    'ELECTRIC BIKE' : 'MOTORCYCLE',
    'ELECTRIC SCOOTER' : 'MOTORCYCLE',
    'AMB' : 'AMBULANCE',
    'FDNY TRUCK ' : 'FDNY',
    'PALLET' : 'FORKLIFT',
    'PICKUP WITH MOUNTED CAMPER' : 'PICK-UP',
    'MINIBIKE' : 'MOTORCYCLE',
    'ELECT' : 'MOTORCYCLE',
    'COMMERCIAL' : 'SMALL COMMERCIAL VEHICLE',
    'COMME' : 'SMALL COMMERCIAL VEHICLE',
    'COM' : 'SMALL COMMERCIAL VEHICLE',
    'GARBA' : 'TRUCK',
    'FDNY AMBUL' : 'AMBULANCE',
    'VAN CAMPER' : 'VAN',
    'MOTOR' : 'MOTORCYCLE',
    'FDNY FIRE' : 'FDNY',
    'FDNY TRUCK' : 'FDNY',
    'FORK' : 'FORKLIFT',
    'PICK' : 'PICK-UP',
    'FLAT' : 'FLAT RACK',
    'DELV' : 'DELIV',
    'PICK UP' : 'PICK-UP',
    'PICKU' : 'PICK-UP',
    'GARBAGE TR' : 'TRUCK',
    'MINICYCLE' : 'BICYCLE'


}

In [49]:
total_vehicle_types.replace(vehicle_type_map, inplace=True)
type_counts = total_vehicle_types.value_counts()
print(type_counts.head(50))

SEDAN                       1792266
SUV                         1102447
TAXI                         148600
UNKNOWN                      147198
MOTORCYCLE                   112976
TRUCK                         94321
PICK-UP                       88679
VAN                           67373
BUS                           66374
LARGE COMMERCIAL VEHICLE      28084
SMALL COMMERCIAL VEHICLE      26538
LIVERY VEHICLE                18939
AMBULANCE                     12193
CONVERTIBLE                    6214
FLAT BED                       5022
PK                             4760
CARRY ALL                      3972
FDNY                           2937
CHASSIS CAB                    1728
TANKER                         1600
CONCRETE MIXER                 1035
TRAILER                         861
FLAT RACK                       720
3-DOOR                          597
SCHOOL BUS                      594
LIMO                            463
LIFT BOOM                       401
STAKE OR RACK                   338
PEDICAB                         320
DELIV                           273
FORKLIFT                        251
MULTI-WHEELED VEHICLE           232
SNOW PLOW                       210
FORK LIFT                       199
USPS                            192
OPEN BODY                       185
SUBN                            174
BULK AGRICULTURE                158
UTILI                           116
UTIL                             78
LUNCH WAGON                      76
POSTA                            71
SANIT                            68
PAS                              66
STREE                            62
HOPPER                           59
MOTORIZED HOME                   55
TRL                              53
FORD                             50
BICYCLE                          48
Name: count, dtype: int64