In [135]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.inspection import DecisionBoundaryDisplay
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
data=pd.read_csv('/content/Processed_Data_v2.zip')

In [3]:
data.head(10)

,CRASH DATE,CRASH TIME,LATITUDE,LONGITUDE,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,CLASS TYPE
0,2021-09-11,09:35:00,40.667202,-73.866500,Unspecified,No factor,No factor,No factor,No factor,Sedan,No vehicle,No vehicle,No vehicle,No vehicle,Class 0
1,2021-12-14,08:17:00,40.868160,-73.831480,Unspecified,Unspecified,No factor,No factor,No factor,Sedan,Sedan,No vehicle,No vehicle,No vehicle,Class 1
2,2021-12-14,14:58:00,40.751440,-73.973970,Passing Too Closely,Unspecified,No factor,No factor,No factor,Sedan,Station Wagon/Sport Utility Vehicle,No vehicle,No vehicle,No vehicle,Class 0
3,2021-12-14,16:50:00,40.675884,-73.755770,Turning Improperly,Unspecified,No factor,No factor,No factor,Sedan,Station Wagon/Sport Utility Vehicle,No vehicle,No vehicle,No vehicle,Class 0
4,2021-12-11,19:43:00,40.872620,-73.904686,Unspecified,Unspecified,No factor,No factor,No factor,Station Wagon/Sport Utility Vehicle,Sedan,No vehicle,No vehicle,No vehicle,Class 1
5,2021-12-14,14:30:00,40.783268,-73.824850,Following Too Closely,Unspecified,Unspecified,No factor,No factor,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,No vehicle,No vehicle,Class 0
6,2021-12-14,05:46:00,40.744644,-73.770410,Other Vehicular,Other Vehicular,No factor,No factor,No factor,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,No vehicle,No vehicle,No vehicle,Class 1
7,2021-12-13,06:30:00,40.753730,-73.885050,Unspecified,No factor,No factor,No factor,No factor,Sedan,No vehicle,No vehicle,No vehicle,No vehicle,Class 0
8,2021-12-14,03:43:00,40.804375,-73.937420,Unspecified,No factor,No factor,No factor,No factor,Station Wagon/Sport Utility Vehicle,No vehicle,No vehicle,No vehicle,No vehicle,Class 1
9,2021-12-13,17:40:00,40.631650,-74.087620,Unspecified,Unspecified,No factor,No factor,No factor,Sedan,Sedan,No vehicle,No vehicle,No vehicle,Class 1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057417 entries, 0 to 1057416
Data columns (total 15 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   CRASH DATE                     1057417 non-null  object
 1   CRASH TIME                     1057417 non-null  object
 2   LATITUDE                       1057417 non-null  float64
 3   LONGITUDE                      1057417 non-null  float64
 4   CONTRIBUTING FACTOR VEHICLE 1  1057417 non-null  object
 5   CONTRIBUTING FACTOR VEHICLE 2  1057417 non-null  object
 6   CONTRIBUTING FACTOR VEHICLE 3  1057417 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 4  1057417 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 5  1057417 non-null  object
 9   VEHICLE TYPE CODE 1            1057417 non-null  object
 10  VEHICLE TYPE CODE 2            1057417 non-null  object
 11  VEHICLE TYPE CODE 3            1057417 non-null  object
 12  VEHICLE TYPE CODE 4            1057417 non-null  object
 13  VEHICLE TYPE CODE 5            1057417 non-null  object
 14  CLASS TYPE                     1057417 non-null  object
dtypes: float64(2), object(13)
memory usage: 121.0+ MB

In [5]:
print(data['CONTRIBUTING FACTOR VEHICLE 1'].value_counts())

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       447741
Driver Inattention/Distraction    261599
Failure to Yield Right-of-Way      83012
Following Too Closely              73831
Backing Unsafely                   49069
Other Vehicular                    32592
Passing or Lane Usage Improper     31680
Turning Improperly                 27625
Fatigued/Drowsy                    25867
Passing Too Closely                24401
Name: count, dtype: int64

In [6]:
print(data['CONTRIBUTING FACTOR VEHICLE 2'].value_counts())

CONTRIBUTING FACTOR VEHICLE 2
Unspecified                       760758
No factor                         188591
Driver Inattention/Distraction     55860
Other Vehicular                    15467
Following Too Closely               8800
Failure to Yield Right-of-Way       8517
Passing or Lane Usage Improper      6844
Passing Too Closely                 4496
Fatigued/Drowsy                     4228
Turning Improperly                  3856
Name: count, dtype: int64

In [7]:
print(data['CONTRIBUTING FACTOR VEHICLE 3'].value_counts())

CONTRIBUTING FACTOR VEHICLE 3
No factor                         989967
Unspecified                        63979
Other Vehicular                     1139
Driver Inattention/Distraction      1012
Following Too Closely                812
Fatigued/Drowsy                      299
Failure to Yield Right-of-Way         59
Unsafe Speed                          55
Reaction to Uninvolved Vehicle        51
Passing or Lane Usage Improper        44
Name: count, dtype: int64

In [8]:
print(data['CONTRIBUTING FACTOR VEHICLE 4'].value_counts())

CONTRIBUTING FACTOR VEHICLE 4
No factor                         1043849
Unspecified                         12950
Other Vehicular                       218
Following Too Closely                 167
Driver Inattention/Distraction        132
Fatigued/Drowsy                        66
Unsafe Speed                           14
Reaction to Uninvolved Vehicle         11
Passing or Lane Usage Improper          5
Failure to Yield Right-of-Way           5
Name: count, dtype: int64

In [9]:
print(data['CONTRIBUTING FACTOR VEHICLE 5'].value_counts())

CONTRIBUTING FACTOR VEHICLE 5
No factor                         1054118
Unspecified                          3154
Other Vehicular                        55
Following Too Closely                  34
Driver Inattention/Distraction         32
Fatigued/Drowsy                        15
Unsafe Speed                            5
Reaction to Uninvolved Vehicle          3
Alcohol Involvement                     1
Name: count, dtype: int64

In [15]:
print(data['VEHICLE TYPE CODE 1'].value_counts())

VEHICLE TYPE CODE 1
Sedan                                  346350
Station Wagon/Sport Utility Vehicle    272833
PASSENGER VEHICLE                      234298
SPORT UTILITY / STATION WAGON          100124
Taxi                                    31402
Pick-up Truck                           21537
Box Truck                               14933
TAXI                                    13232
VAN                                     12456
4 dr sedan                              10252
Name: count, dtype: int64

There are still repition of vehicle types. Station Wagon/Sport Utility Vehicle and SPORT UTILITY / STATION WAGON are same. Taxi and TAXI are same.

In [16]:
df= pd.read_csv('/content/Motor_Vehicle_Collisions_-_Crashes.zip')

<ipython-input-16-005e77ef7ce0>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('/content/Motor_Vehicle_Collisions_-_Crashes.zip')

In [17]:
df.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
5,04/14/2021,12:47,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
6,12/14/2021,17:05,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
7,12/14/2021,8:17,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
8,12/14/2021,21:10,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
9,12/14/2021,14:58,MANHATTAN,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2070069 entries, 0 to 2070068
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 458.0+ MB

In [19]:
df.isna().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           644060
ZIP CODE                          644310
LATITUDE                          233322
LONGITUDE                         233322
LOCATION                          233322
ON STREET NAME                    439061
CROSS STREET NAME                 781681
OFF STREET NAME                  1723381
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6764
CONTRIBUTING FACTOR VEHICLE 2     320441
CONTRIBUTING FACTOR VEHICLE 3    1922275
CONTRIBUTING FACTOR VEHICLE 4    2036722
CONTRIBUTING FACTOR VEHICLE 5    2061045
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13601
VEHICLE TYPE CODE 2               394859
VEHICLE TYPE CODE 3              1927604
VEHICLE TYPE CODE 4              2037875
VEHICLE TYPE CODE 5              2061319
dtype: int64

In [26]:
df.drop(columns = ['BOROUGH', 'ZIP CODE', 'LOCATION', 'ON STREET NAME','CROSS STREET NAME','OFF STREET NAME',
                   'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
                   'NUMBER OF MOTORIST INJURED','NUMBER OF MOTORIST KILLED', 'COLLISION_ID'], axis=1, inplace=True)

In [27]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'LATITUDE', 'LONGITUDE',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5', 'CLASS TYPE'],
      dtype='object')

In [28]:
df.isna().sum()

CRASH DATE                             0
CRASH TIME                             0
LATITUDE                          233322
LONGITUDE                         233322
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
CONTRIBUTING FACTOR VEHICLE 1       6764
CONTRIBUTING FACTOR VEHICLE 2     320441
CONTRIBUTING FACTOR VEHICLE 3    1922275
CONTRIBUTING FACTOR VEHICLE 4    2036722
CONTRIBUTING FACTOR VEHICLE 5    2061045
VEHICLE TYPE CODE 1                13601
VEHICLE TYPE CODE 2               394859
VEHICLE TYPE CODE 3              1927604
VEHICLE TYPE CODE 4              2037875
VEHICLE TYPE CODE 5              2061319
CLASS TYPE                             0
dtype: int64

In [53]:
print(df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().head(20))

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       705449
Driver Inattention/Distraction    413948
Failure to Yield Right-of-Way     122906
Following Too Closely             110586
Backing Unsafely                   76562
Other Vehicular                    64238
Passing or Lane Usage Improper     57625
Passing Too Closely                51512
Turning Improperly                 51115
Fatigued/Drowsy                    47397
Unsafe Lane Changing               40656
Traffic Control Disregarded        36716
Driver Inexperience                32389
Unsafe Speed                       28922
Alcohol Involvement                22618
Lost Consciousness                 20477
Reaction to Uninvolved Vehicle     20072
Pavement Slippery                  19757
Prescription Medication            15413
View Obstructed/Limited            13671
Name: count, dtype: int64

In [54]:
top_factors = [
    "Unspecified",
    "Driver Inattention/Distraction",
    "Failure to Yield Right-of-Way",
    "Following Too Closely",
    "Backing Unsafely",
    "Other Vehicular",
    "Passing or Lane Usage Improper",
    "Passing Too Closely",
    "Turning Improperly",
    "Fatigued/Drowsy"
]

# we are going to filter the dataset to keep only rows with these top 10 factors
new_df = df[df['CONTRIBUTING FACTOR VEHICLE 1'].isin(top_factors)]

In [56]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1701338 entries, 2 to 2070068
Data columns (total 17 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   LATITUDE                       float64
 3   LONGITUDE                      float64
 4   NUMBER OF PERSONS INJURED      float64
 5   NUMBER OF PERSONS KILLED       float64
 6   CONTRIBUTING FACTOR VEHICLE 1  object
 7   CONTRIBUTING FACTOR VEHICLE 2  object
 8   CONTRIBUTING FACTOR VEHICLE 3  object
 9   CONTRIBUTING FACTOR VEHICLE 4  object
 10  CONTRIBUTING FACTOR VEHICLE 5  object
 11  VEHICLE TYPE CODE 1            object
 12  VEHICLE TYPE CODE 2            object
 13  VEHICLE TYPE CODE 3            object
 14  VEHICLE TYPE CODE 4            object
 15  VEHICLE TYPE CODE 5            object
 16  CLASS TYPE                     int64
dtypes: float64(4), int64(1), object(12)
memory usage: 233.6+ MB

In [57]:
print(df['CONTRIBUTING FACTOR VEHICLE 2'].value_counts().head(10))

CONTRIBUTING FACTOR VEHICLE 2
Unspecified                       1473041
Driver Inattention/Distraction      94020
Other Vehicular                     31997
Following Too Closely               18972
Failure to Yield Right-of-Way       17084
Passing or Lane Usage Improper      12809
Fatigued/Drowsy                     10836
Turning Improperly                   8726
Passing Too Closely                  8683
Backing Unsafely                     7878
Name: count, dtype: int64

In [58]:
top_factors = [
    "Unspecified",
    "Driver Inattention/Distraction",
    "Failure to Yield Right-of-Way",
    "Following Too Closely",
    "Backing Unsafely",
    "Other Vehicular",
    "Passing or Lane Usage Improper",
    "Passing Too Closely",
    "Turning Improperly",
    "Fatigued/Drowsy"
]

new_df = df[df['CONTRIBUTING FACTOR VEHICLE 2'].isin(top_factors)]

In [61]:
top_factors = [
    "Unspecified",
    "Driver Inattention/Distraction",
    "Failure to Yield Right-of-Way",
    "Following Too Closely",
    "Backing Unsafely",
    "Other Vehicular",
    "Passing or Lane Usage Improper",
    "Passing Too Closely",
    "Turning Improperly",
    "Fatigued/Drowsy"
]

new_df = df[df['CONTRIBUTING FACTOR VEHICLE 3'].isin(top_factors)]

In [69]:
print(new_df['CONTRIBUTING FACTOR VEHICLE 3'].value_counts().head(10))

CONTRIBUTING FACTOR VEHICLE 3
Unspecified                       137780
Other Vehicular                     2761
Following Too Closely               1950
Driver Inattention/Distraction      1943
Fatigued/Drowsy                      853
Failure to Yield Right-of-Way        145
Passing or Lane Usage Improper       114
Backing Unsafely                      93
Turning Improperly                    78
Passing Too Closely                   54
Name: count, dtype: int64

In [70]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145771 entries, 19 to 2070025
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     145771 non-null  object
 1   CRASH TIME                     145771 non-null  object
 2   LATITUDE                       128802 non-null  float64
 3   LONGITUDE                      128802 non-null  float64
 4   NUMBER OF PERSONS INJURED      145771 non-null  float64
 5   NUMBER OF PERSONS KILLED       145771 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  145771 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  145771 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 3  145771 non-null  object
 9   CONTRIBUTING FACTOR VEHICLE 4  32680 non-null   object
 10  CONTRIBUTING FACTOR VEHICLE 5  8793 non-null    object
 11  VEHICLE TYPE CODE 1            145099 non-null  object
 12  VEHICLE TYPE CODE 2            144883 non-null  object
 13  VEHICLE TYPE CODE 3            139065 non-null  object
 14  VEHICLE TYPE CODE 4            31505 non-null   object
 15  VEHICLE TYPE CODE 5            8518 non-null    object
 16  CLASS TYPE                     145771 non-null  int64
dtypes: float64(4), int64(1), object(12)
memory usage: 20.0+ MB

In [71]:
print(new_df['VEHICLE TYPE CODE 1'].value_counts().head(10))

VEHICLE TYPE CODE 1
Sedan                                  46498
Station Wagon/Sport Utility Vehicle    35885
SEDAN                                  27887
SUV                                    12085
UNKNOWN                                 3210
4 dr sedan                              2598
Pick-up Truck                           2509
Taxi                                    2430
VAN                                     1360
TAXI                                    1263
Name: count, dtype: int64

In [76]:
new_df['VEHICLE TYPE CODE 1'] = new_df['VEHICLE TYPE CODE 1'].str.upper()

<ipython-input-76-1b922a40aee8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['VEHICLE TYPE CODE 1'] = new_df['VEHICLE TYPE CODE 1'].str.upper()

In [86]:
vehicle_type_map = {
    'STATION WAGON/SPORT UTILITY VEHICLE': 'SUV',
    'SPORT UTILITY / STATION WAGON': 'SUV',
    '4 DR SEDAN': 'SEDAN',
    '2 DR SEDAN': 'SEDAN',
    'PASSENGER VEHICLE': 'SEDAN',
    'SMALL COM VEH(4 TIRES) ': 'SMALL COMMERCIAL VEHICLE',
    'SMALL COM VEH(4 TIRES)': 'SMALL COMMERCIAL VEHICLE',
    'LARGE COM VEH(6 OR MORE TIRES)': 'LARGE COMMERCIAL VEHICLE',
    'TRACTOR TRUCK DIESEL': 'TRACTOR TRUCK',
    'TRACTOR TRUCK GASOLINE': 'TRACTOR TRUCK',
    'MOTORSCOOTER': 'SCOOTER',
    'MOTORBIKE': 'MOTORCYCLE',
    'E-BIKE': 'ELECTRIC BIKE',
    'E-SCOOTER': 'ELECTRIC SCOOTER',
    'AMBUL': 'AMBULANCE',
    'FIRE' : 'FIRE TRUCK',
    'GARBAGE OR REFUSE' : 'GARBAGE TRUCK',
    'E-BIK' : 'ELECTRIC BIKE',
    'E-SCO' : 'ELECTRIC SCOOTER',
    'OTHER' : 'UNKNOWN',
    'DUMP' : 'GARBAGE TRUCK',
    'UNKNO' : 'UNKNOWN',
    'UNK' : 'UNKNOWN',
    'PICK-UP TRUCK' : 'PICK-UP',
    'TRACT' : 'TRACTOR TRUCK',
    'TRAIL' : 'TRAILER',
    'AMBU' : 'AMBULANCE',
    'TOW TRUCK / WRECKER' : 'TOW TRUCK',
    'REFRIGERATED VAN' : 'VAN',
    'BOX TRUCK' : 'TRUCK',
    'TRACTOR TRUCK' : 'TRUCK',
    'GARBAGE TRUCK' : 'TRUCK',
    'TOW TRUCK' : 'TRUCK',
    'FIRE TRUCK' : 'FDNY',
    'ARMORED TRUCK' : 'TRUCK',
    'BEVERAGE TRUCK' : 'TRUCK',
    'FIRETRUCK' : 'FDNY',
    'TOW T' : 'TRUCK',
    'FIRET' : 'FDNY',
    'SCHOO' : 'SCHOOL BUS',
    'FORKL' : 'FORKLIFT',
    'BOX T' : 'TRUCK',
    'BIKE' : 'MOTORCYCLE',
    'SCOOTER' : 'MOTORCYCLE',
    'SCOOT' : 'MOTORCYCLE',
    'MOPED' : 'MOTORCYCLE',
    'ELECTRIC BIKE' : 'MOTORCYCLE',
    'ELECTRIC SCOOTER' : 'MOTORCYCLE',
    'AMB' : 'AMBULANCE',
    'FDNY TRUCK ' : 'FDNY',
    'PALLET' : 'FORKLIFT',
    'PICKUP WITH MOUNTED CAMPER' : 'PICK-UP',
    'MINIBIKE' : 'MOTORCYCLE',
    'ELECT' : 'MOTORCYCLE',
    'COMMERCIAL' : 'SMALL COMMERCIAL VEHICLE',
    'COMME' : 'SMALL COMMERCIAL VEHICLE',
    'COM' : 'SMALL COMMERCIAL VEHICLE',
    'GARBA' : 'TRUCK',
    'FDNY AMBUL' : 'AMBULANCE',
    'VAN CAMPER' : 'VAN',
    'MOTOR' : 'MOTORCYCLE',
    'FDNY FIRE' : 'FDNY',
    'FDNY TRUCK' : 'FDNY',
    'FORK' : 'FORKLIFT',
    'PICK' : 'PICK-UP',
    'FLAT' : 'FLAT RACK',
    'DELV' : 'DELIV',
    'PICK UP' : 'PICK-UP',
    'PICKU' : 'PICK-UP',
    'GARBAGE TR' : 'TRUCK',
    'MINICYCLE' : 'BICYCLE'
}

In [87]:
new_df.replace(vehicle_type_map, inplace=True)

In [79]:
print(new_df['VEHICLE TYPE CODE 1'].value_counts().head(10))

VEHICLE TYPE CODE 1
SEDAN                       77179
SUV                         47970
TAXI                         3694
UNKNOWN                      3219
PICK-UP                      3161
VAN                          1838
TRUCK                        1347
BUS                          1282
MOTORCYCLE                    875
LARGE COMMERCIAL VEHICLE      732
Name: count, dtype: int64

In [80]:
top_vehicle_types = [
    "SEDAN",
    "SUV",
    "TAXI",
    "UNKNOWN",
    "PICK-UP",
    "VAN",
    "TRUCK",
    "BUS",
    "MOTORCYCLE",
    "LARGE COMMERCIAL VEHICLE"
]


new_df = new_df[new_df['VEHICLE TYPE CODE 1'].isin(top_vehicle_types)]

In [84]:
new_df['VEHICLE TYPE CODE 2'] = new_df['VEHICLE TYPE CODE 2'].str.upper()

In [89]:
top_vehicle_types = [
    "SEDAN",
    "SUV",
    "TAXI",
    "UNKNOWN",
    "PICK-UP",
    "VAN",
    "TRUCK",
    "BUS",
    "MOTORCYCLE",
    "LARGE COMMERCIAL VEHICLE"
]


new_df = new_df[new_df['VEHICLE TYPE CODE 2'].isin(top_vehicle_types)]

In [90]:
print(new_df['VEHICLE TYPE CODE 2'].value_counts().head(10))

VEHICLE TYPE CODE 2
SEDAN                       75274
SUV                         49234
TAXI                         3391
PICK-UP                      2981
UNKNOWN                      2389
TRUCK                        1644
VAN                          1480
MOTORCYCLE                   1347
BUS                           864
LARGE COMMERCIAL VEHICLE      346
Name: count, dtype: int64

In [91]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138950 entries, 19 to 2070025
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     138950 non-null  object
 1   CRASH TIME                     138950 non-null  object
 2   LATITUDE                       122853 non-null  float64
 3   LONGITUDE                      122853 non-null  float64
 4   NUMBER OF PERSONS INJURED      138950 non-null  float64
 5   NUMBER OF PERSONS KILLED       138950 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  138950 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  138950 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 3  138950 non-null  object
 9   CONTRIBUTING FACTOR VEHICLE 4  31317 non-null   object
 10  CONTRIBUTING FACTOR VEHICLE 5  8384 non-null    object
 11  VEHICLE TYPE CODE 1            138950 non-null  object
 12  VEHICLE TYPE CODE 2            138950 non-null  object
 13  VEHICLE TYPE CODE 3            133302 non-null  object
 14  VEHICLE TYPE CODE 4            30415 non-null   object
 15  VEHICLE TYPE CODE 5            8193 non-null    object
 16  CLASS TYPE                     138950 non-null  int64
dtypes: float64(4), int64(1), object(12)
memory usage: 19.1+ MB

In [92]:
new_df.isna().sum()

CRASH DATE                            0
CRASH TIME                            0
LATITUDE                          16097
LONGITUDE                         16097
NUMBER OF PERSONS INJURED             0
NUMBER OF PERSONS KILLED              0
CONTRIBUTING FACTOR VEHICLE 1         0
CONTRIBUTING FACTOR VEHICLE 2         0
CONTRIBUTING FACTOR VEHICLE 3         0
CONTRIBUTING FACTOR VEHICLE 4    107633
CONTRIBUTING FACTOR VEHICLE 5    130566
VEHICLE TYPE CODE 1                   0
VEHICLE TYPE CODE 2                   0
VEHICLE TYPE CODE 3                5648
VEHICLE TYPE CODE 4              108535
VEHICLE TYPE CODE 5              130757
CLASS TYPE                            0
dtype: int64

In [95]:
mvc=new_df.drop(columns=['CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5','VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5'])

In [96]:
mvc.dropna()

,CRASH DATE,CRASH TIME,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,CLASS TYPE
19,12/14/2021,14:30,40.783268,-73.824850,0.0,0.0,Following Too Closely,Unspecified,SUV,SEDAN,0
58,04/24/2022,0:30,40.638382,-74.036680,1.0,0.0,Driver Inattention/Distraction,Unspecified,SEDAN,SEDAN,1
108,03/10/2022,8:30,40.676403,-73.962870,4.0,0.0,Other Vehicular,Following Too Closely,SUV,SUV,2
110,03/26/2022,7:36,40.613926,-74.030174,0.0,0.0,Brakes Defective,Unspecified,SUV,TAXI,0
122,03/25/2022,9:56,40.904600,-73.852936,0.0,0.0,Driver Inattention/Distraction,Unspecified,SUV,SEDAN,0
...,...,...,...,...,...,...,...,...,...,...,...
2069976,02/29/2024,19:00,40.819424,-73.950066,0.0,0.0,Passing or Lane Usage Improper,Unspecified,SEDAN,SEDAN,0
2069985,02/28/2024,5:58,40.676834,-74.001460,1.0,0.0,Following Too Closely,Following Too Closely,SEDAN,SEDAN,1
2069992,03/01/2024,23:25,40.754986,-73.745350,3.0,0.0,Unsafe Speed,Unspecified,SEDAN,SUV,1
2069995,03/01/2024,7:10,40.619778,-74.020700,0.0,0.0,Driver Inexperience,Unspecified,SEDAN,SEDAN,0
2070025,02/29/2024,19:55,40.663050,-73.848564,1.0,0.0,Driver Inattention/Distraction,Unspecified,SEDAN,SUV,1

In [97]:
mvc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138950 entries, 19 to 2070025
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     138950 non-null  object
 1   CRASH TIME                     138950 non-null  object
 2   LATITUDE                       122853 non-null  float64
 3   LONGITUDE                      122853 non-null  float64
 4   NUMBER OF PERSONS INJURED      138950 non-null  float64
 5   NUMBER OF PERSONS KILLED       138950 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  138950 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  138950 non-null  object
 8   VEHICLE TYPE CODE 1            138950 non-null  object
 9   VEHICLE TYPE CODE 2            138950 non-null  object
 10  CLASS TYPE                     138950 non-null  int64
dtypes: float64(4), int64(1), object(6)
memory usage: 12.7+ MB

In [98]:
print(mvc['NUMBER OF PERSONS INJURED'].value_counts())

NUMBER OF PERSONS INJURED
0.0     87240
1.0     28780
2.0     12759
3.0      5621
4.0      2468
5.0      1075
6.0       536
7.0       247
8.0        93
9.0        46
10.0       38
12.0       15
11.0       13
15.0        5
13.0        4
17.0        2
14.0        2
22.0        2
20.0        1
16.0        1
24.0        1
25.0        1
Name: count, dtype: int64

In [99]:
print(mvc['NUMBER OF PERSONS KILLED'].value_counts())

NUMBER OF PERSONS KILLED
0.0    138612
1.0       315
2.0        20
3.0         2
4.0         1
Name: count, dtype: int64

In [105]:
def determine_class_type(row):
    if row['NUMBER OF PERSONS INJURED'] == 0 and row['NUMBER OF PERSONS KILLED'] == 0:
        return '0'
    else:
        return '1'

mvc['CLASS TYPE'] = mvc.apply(determine_class_type, axis=1)
mvc['CLASS TYPE'] = mvc['CLASS TYPE'].astype('int64')

In [106]:
mvc['CLASS TYPE'].value_counts()

CLASS TYPE
0    87105
1    51845
Name: count, dtype: int64

In [112]:
mvc['CRASH DATE'] = pd.to_datetime(mvc['CRASH DATE'])
mvc['YEAR'] = mvc['CRASH DATE'].dt.year
mvc['MONTH'] = mvc['CRASH DATE'].dt.month
mvc['DAY'] = mvc['CRASH DATE'].dt.day
mvc['HOUR'] = mvc['CRASH TIME'].apply(lambda x: int(x.split(':')[0]))
mvc['MINUTE'] = mvc['CRASH TIME'].apply(lambda x: int(x.split(':')[1]))

In [113]:
mvc.drop(['CRASH DATE', 'CRASH TIME'], axis=1, inplace=True)

In [116]:
mvc.columns

Index(['LATITUDE', 'LONGITUDE', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'CLASS TYPE', 'YEAR', 'MONTH', 'DAY', 'HOUR',
       'MINUTE'],
      dtype='object')

In [117]:
mvc.drop(columns=['NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED'])

,LATITUDE,LONGITUDE,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,CLASS TYPE,YEAR,MONTH,DAY,HOUR,MINUTE
19,40.783268,-73.824850,Following Too Closely,Unspecified,SUV,SEDAN,0,2021,12,14,14,30
58,40.638382,-74.036680,Driver Inattention/Distraction,Unspecified,SEDAN,SEDAN,1,2022,4,24,0,30
108,40.676403,-73.962870,Other Vehicular,Following Too Closely,SUV,SUV,1,2022,3,10,8,30
110,40.613926,-74.030174,Brakes Defective,Unspecified,SUV,TAXI,0,2022,3,26,7,36
122,40.904600,-73.852936,Driver Inattention/Distraction,Unspecified,SUV,SEDAN,0,2022,3,25,9,56
...,...,...,...,...,...,...,...,...,...,...,...,...
2069987,NaN,NaN,Unsafe Speed,Unspecified,TAXI,SEDAN,1,2024,2,29,23,41
2069992,40.754986,-73.745350,Unsafe Speed,Unspecified,SEDAN,SUV,1,2024,3,1,23,25
2069995,40.619778,-74.020700,Driver Inexperience,Unspecified,SEDAN,SEDAN,0,2024,3,1,7,10
2070024,NaN,NaN,Following Too Closely,Following Too Closely,SEDAN,SEDAN,0,2024,2,16,17,15
2070025,40.663050,-73.848564,Driver Inattention/Distraction,Unspecified,SEDAN,SUV,1,2024,2,29,19,55

In [118]:
mvc_df=pd.get_dummies(mvc,columns=['CONTRIBUTING FACTOR VEHICLE 1','CONTRIBUTING FACTOR VEHICLE 2','VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2'])